<p>
  comments works!
</p>

<div class="container">
  <h2>Add A comments</h2>
  <div class="panel-group">
    <div class="panel panel-success">
      <div class="panel-heading">Add comments</div>
      <div class="panel-body">
        <form #form="ngForm">
          <input type="hidden" />
          <div class="form-group">

            <input class="form-control" type="text" name="messageText"/>
          </div>
          <button type="submit" class="btn btn-primary" (click)="AddComments()">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

